*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.navbar{
    width: 100%;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translate(-50%); */
    padding: 25px  60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    position: absolute;
    top: 25px;
    
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.icon i{
    font-size: 24px;
    cursor: pointer;
    transition: .2s ease-in;
}
.icon i:hover{
    scale: 1.2;
    cursor: pointer;
    transition: .2s ease-in;
}
.icon input{
    width: 160px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black; 
    padding: 1px 2px;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}


.main{
    width: 100vw;
}
.main img{
    width: 100vw;
    object-fit: cover;  
}
.section{
    background-image: url(https://images.unsplash.com/photo-1558346648-9757f2fa4474?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100vh;
}


/* ------------------------------------------------------------ */

/* http://www.menucool.com/jquery-slider */

#thumbnail-slider {
    margin:0 auto; /*center-aligned*/
    margin-top: 15px;
    width:100%;
    max-width: 1000px;
    padding:0;
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider div.inner {    
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:0;
    margin:0;
}
 
#thumbnail-slider div.inner ul {    
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider ul li {
    display:inline-block;
    margin-top:20px;
    margin-bottom:90px;
    margin-left:-30px; margin-right:-30px; /* Spacing between thumbs*/
    -webkit-transform:scale(0.9);
    transform:scale(0.9); /*Note: The scale down will increase the spacing between slides. You can set negative margins as did above to roll back the spacing. */
    -webkit-transition:-webkit-transform 0.5s;
    transition:transform 0.5s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
    
	/*-webkit-filter: grayscale(100%);
	filter: grayscale(100%);*/
    
}

#thumbnail-slider ul li.active {
    -webkit-transform:scale(1.15); 
    transform:scale(1.15); /*Note: if scale is greater than 1, the margin-top and margin-bottom in the selector "#thumbnail-slider li" must be set with a sufficient value so the enlarged image will be shown within the margins.*/
    background-color:transparent;
    
	/*-webkit-filter: initial;
	filter: initial;*/
}

#thumbnail-slider .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
    cursor:inherit;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.4)));
    transition:all linear 0.4s;
}


/*-- Start 3D --*/
    #thumbnail-slider .thumb {
        -webkit-transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
        transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
    }

    #thumbnail-slider .active .thumb {
        -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg); 
        transform: translateX(0px) translateZ(0px) rotateY(0deg); 
    }

    #thumbnail-slider li.active ~ li .thumb {
        -webkit-transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
        transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
    }
/*-- End 3D --*/

/* --------- navigation controls ------- */   
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-pause-play {display:none;} /*.pause*/
#thumbnail-slider-prev, #thumbnail-slider-next {display:none;}


.section2{
    height: 100vh;
    width: 100vw;
    background-color: rebeccapurple;
}
.section3{
    height: 100vh;
    width: 100vw;
    background-color: goldenrod;
}
.section4{
    height: 100vh;
    width: 100vw;
    background-color:crimson;
}
.section5{
    height: 100vh;
    width: 100vw;
    background-color: salmon;
}


.footer{
    height: 460px;
    width: 97%;
    margin: 20px auto;
    padding: 20px 40px;
    display: flex;
    border-radius: 10px;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #e8a94c;
}
.footer-left{
    height: 100%;
    width: 60%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
}

.form>h1{
    font-size: 40px;
    color: #fff;
    font-weight: lighter;
}
.form>h1>span{
    font-style: italic;
    font-size: 48px;
}
.form input{
    margin-top: 10px;
    width: 370px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    padding: 11px 18px;
    border: none;
    outline: none;
    border-radius: 24px;
}
.form input::placeholder{
    font-weight: normal;
    background-color: white;
}
.form button{
    height: 39px;
    font-size: 12px;
    font-weight: 600;
    padding: 0px 18px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    transform: translateY(10px);
}
.btn{
    width: 100%;
    display: flex;
    gap: 14px;
}
.form button i{
    transform: translateY(-2px);
    margin-left: 5px;
    font-size: 26px;
    transition: ease-in-out .4s;

}
.form button:hover i{
    transform: rotate(-135deg);
    transition: ease-in-out .2s;
}

.footer-right{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: start;
    color: #fff;
    gap: 85px;
    padding: 22px 0;
}
.footer-right h2{
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}
.footer-right h4{
    padding: 0px 2px;
    font-size: 20px;
    font-weight: lighter;
}

